:root {
    --primary: #2E3638 !important;
    --secondary: #48515B !important;
    --tertiary: #AFB7C0 !important;
    --light: #FAF3F0 !important;
    --accent: #BF3F36 !important;
    --dark: #1B2021 !important;
}

body {
    margin: 0;
    font-family: 'Galdeano', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--light);
}

code {
    font-family: 'Galdeano', sans-serif;
}

html {
    background-color: var(--primary);
}


.logo {
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }

.sticky-top {
    padding: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link {
    color: #FAF3F0;
    font-family: 'Galdeano', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#planner {
    color: #bf3f36;
    font-family: 'Galdeano', sans-serif;
    font-weight: 1000;
    font-size: 20px;
}

#planner:hover {
    color: #afb7c0;
}

a {
    text-decoration: none;
}

#content {
    min-height: 100%;
	max-width: 100%;
    background-color: var(--primary);
    padding: 10px;

}


.navbar-nav {
    justify-content: center;
}

/* RUMORS SECTION/PAGE START */
.rumors {
    margin: 0;
    background-color: var(--primary);
    height: 100%;
    display: flex;
    align-items: center;
}
/* RUMORS SECTION/PAGE END */
