:root {
    --primary: #2E3638 !important;
    --secondary: #48515B !important;
    --tertiary: #AFB7C0 !important;
    --light: #FAF3F0 !important;
    --accent: #BF3F36 !important;
    --dark: #1B2021 !important;
}

body {
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--light);
}

code {
    font-family: 'Julius Sans One', sans-serif;
}

body {
    margin: 0;
}

nav {
    background-color: var(--dark);
}

html {
    background-color: var(--primary);
}

a {
    text-decoration: none;
}

#content {
    padding-top: 80px;
}