  #Chat .Chat {
    text-align: center;
    margin: 0;
    width: 20vw;
    min-width: 400px;
  }
  
  #Chat .Chat header {
    background-color: #680000;
    height: 10vh;
    min-height: 50px;
    color: white;
    width: 100%;
    max-width: 728px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #Chat .Chat section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0);
    height: 55vh;
    overflow-y: hidden;
  }
  
  #Chat .main {
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #Chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #Chat .main::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  #Chat .main::-webkit-scrollbar-track {
    background: #241e1e;
  }
  
  #Chat .main::-webkit-scrollbar-thumb {
    background: #4b0303;
  }
  
  #Chat form {
    height: 10vh;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
  }
  
  #Chat form button {
    width: 20%;
    background-color: rgb(121, 21, 21);
  }
  
  
  #Chat input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgb(58, 58, 58);
    color: white;
    outline: none;
    border: none;
  }
  
  #Chat button {
    background-color: #282c34;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
  }
  
  #Chat button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  #Chat .sign-in {
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 auto;
  }
  
  #Chat ul, li {
    text-align: left;
    list-style: none;
  }
  
  #Chat p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  }
  
  #Chat .message {
    display: flex;
    align-items: center;
  }
  
  
  #Chat .sent {
    flex-direction: row-reverse;

  }
  
  #Chat .sent p {
    color: white;
    background: #4b0303;
    align-self: flex-end;
  }
  #Chat .received p {
    background: #535353;
    color: black;
  }

  #Chat .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }