#fan-content .no-post{
    color: rgb(209, 9, 9);
}

#fan-content .all-post {
    margin: 90px;
    color: rgb(209, 9, 9);
    /* border: 1px solid black; */
    text-align: center;
    /* background-color: #2E3638; */
}

#fan-content .no-post{
    
    
    margin: 90px;
    color: rgb(209, 9, 9);
    text-align: center;
    background-color: #2E3638;
    border-radius: 25px;
}

#fan-content .button {
    background-color: rgb(209, 9, 9);
    border: 2px solid grey;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#fan-content .allpost {
    color: rgb(209, 9, 9);
    text-align: center;

}

#fan-content .textArea {
    display: block;
    margin : 0 auto;

}

#fan-content .create-post {
    margin: 90px;
    color: rgb(209, 9, 9);
    border: 1px solid black;
    text-align: center;
    background-color: #2E3638;
    border-radius: 25px;
}


#fan-content .TT {
    width: 400px; height: 50px;
    
}

#fan-content .DC {
    width: 400px; height: 80px;
    

}



#fan-content .img-preview {
    width: 100;
    height: 100;
}

#fan-content .submit {
    background-color: rgb(209, 9, 9);
    border: 2px solid grey;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

#fan-content .previewText {
    color: rgb(209, 9, 9);
}

#fan-content .form {
    display: block;
    margin : 0 auto;

}

#fan-content #content {
    padding-top: 1px;
    padding-left: 200px;
    padding-right: 20px;
    padding-bottom: 100px;
}

#fan-content .post-container {
    
    background: #2E3638;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
}