#imap {
    margin: 50px;
    border: solid 5px var(--tertiary);
    height: 65vh;
    overflow: hidden;
    position: relative;
}

#imap .img-container {
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
}

#imap .map {
    transform-origin: 0 0;
}

#imap img {
    cursor: grab;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}

#imap .map-ctrl {
    z-index: 999;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#imap button {
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: var(--light);
    border: solid 1px var(--primary);
    outline: none;
    cursor: pointer;
    opacity: 80%;
}

#imap button:hover {
    box-shadow: 0 0 5px var(--light);
    border: solid 1px var(--dark);
}

#imap button:active {
    box-shadow: 0 0 5px var(--light);
    border: solid 1px var(--light);
}

#imap .zoom-ctrl {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}
/*
#imap .collapsible {
    background-color: var(--dark);
    color: var(--light);
    opacity: 90%;
    z-index: 999;
    height: 100%;
    width: 30px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

#imap .collapsible:hover {
    box-shadow: 0 0 8px var(--light);
} */

#imap .map-icon {
    position: absolute;
    top:1000px;
    left:1000px;
    z-index: 999;
    /* background-color: blueviolet; */
}