nav {
    background-color: var(--dark);
}

.logo {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.sticky-top {
    padding: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link {
    color: #FAF3F0;
    font-family: 'Galdeano', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#planner {
    color: #bf3f36;
    font-family: 'Galdeano', sans-serif;
    font-weight: 1000;
    font-size: 20px;
}

#planner:hover {
    color: #afb7c0;
}

.navbar-nav {
    justify-content: center;
}

nav a {
    padding-left: 70px;
    padding-right: 20px;
}