section.slideshow{
  width: 100%;
}

section.slideshow div.slide-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

section.slideshow section.current-slide{
  width: 400px;
  height: 250px;
  margin: auto 10px;
}

section.slideshow section.previous-slide,
section.slideshow section.next-slide{
  width: 200px;
  height: 150px;
}

section.slideshow section.slide div.slide-thumbnail{
  width: 100%;
  height: 100%;
  background: #310707;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  box-shadow: 5px 5px 6px #c507079c;
}

section.slideshow div.slideshow-controller{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.slideshow div.slideshow-controller span{
  padding: 10px;
  width: 100px;
  border: none;
  background: #630b0b;
  color: #f5f5f5;
  cursor: pointer;
  text-align: center;
  box-shadow: 3px 3px 5px #200404;
  user-select: none;
}

section.slideshow div.slideshow-controller span:hover{
  color: #ffc200;
  text-shadow: 3px 3px 5px #ffc200;
}

section.slideshow div.slideshow-controller span:active{
  color: #630b0b;
  text-shadow: 3px 3px 5px #949494;
  background: #ffc200;
}